body{
	background-color: #eeeeee;
	margin: 0;
}

.login-container{
	background-color:#ddd;
	text-align: center;
	overflow: hidden;
}

.login-container a{
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.left{
	float: left;
}

.right{
	float: right;
}

h1{
	background-color: #ddd;
	text-align: center;
	margin: 0;
}




