@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    background:  linear-gradient(-45deg, #a6b733, #CFCF8D);
}

.left-upper-img{
    text-align: "right";
}

.parent {
    display: grid;
    place-items: center;
}

.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 15px 30px;
    border-radius: 5px;
}

.container .title{
    font-size: 25px;
    font-weight: 3px;
    position: relative;
}

.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    /* background: linear-gradient(135deg, rgb(166,183,51), rgb(240,227,214)); */
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
    margin: 20px 0 12px 0;
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;

}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: darkslategray;
}

form .button{
    height: 45px;
    margin: 0px;
    outline: none;
    /* background: linear-gradient(135deg, rgb(166,183,51), rgb(240,227,214)); */
    background: rgb(166,183,51);
}

form .button input{
    height: 100%;
    margin: 0;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    /* background: linear-gradient(135deg, rgb(166,183,51), rgb(240,227,214)); */
    background: rgb(166,183,51);
}

form .button input:hover{
    /* background: linear-gradient(-135deg, rgb(166,183,51), rgb(240,227,214)); */
    background: rgb(125,139,66);
}

@media (max-width: 584px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
}