<!DOCTYPE html>
<html>
<head>
	<title>NaboCoin</title>
	<link rel="stylesheet" href="../static/main.css">
	<link rel="shortcut icon" type="image/jpg" href="../static/img/favicon.ico"/>
	<footer class="footer">
			<a class = "button button3 left" href="https://github.com/zerodois-bcc/NaboCoin">Github</a>
			<a class = "button button3 right" href="https://github.com/zerodois-bcc/NaboCoin">Contato</a>
		<p style="font-family: Arial">Nabocoin é o Blockchain-as-a-service mais simples que existe!</p>
		<p class="copyright" style="font-family: Arial">Nabocoin © 2021</p>
		<!-- <div>Ícones feitos por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/br/" title="Flaticon">www.flaticon.com</a></div> -->
		</footer>
</head>
<body>
	<div class = "login-container" style="font-family: Arial; text-align: center">
		<a href = "/" class = "button button2 left">Home</a>
		<a href = "/buy" class = "button button1 left">Adquirir Nabocoins</a>
		<img class="left" src="static/img/icon.png" alt="Nabinho, o mascote da Nabocoin" width="62"
        height="62">
		<a class="button button1 right" href = "/register">Cadastro</a>
		<a class="button button2 right" href = "/login">Login</a>
		<h1 style="text-align: center">Nabocoin</h1>
	</div>
	<h2 style="font-family: Arial; text-align: center">{{ message }}</h2>
	<br>
	<p style="font-family: Arial; text-align: center">{{ action }}</p>
</body>
</html>