<!DOCTYPE hmtl>
<hmtl lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Nabocoin - Cadastro</title>
        <link rel="stylesheet" href="../static/register.css">
        <link rel="shortcut icon" type="image/jpg" href="../static/img/favicon.ico"/>
        <meta name="viewport" content="width=device-width, initial scale=1.0">
    </head>
    <body>
        <div style="text-align: right">
            <img src="../static/img/icon.png" width="110" height="110">
        </div>
        <div class="parent">
            <div class="container">
                <div class="title">Nabocoin: Cadastro</div>
                <form action="#">
                    <div class="user-details">
                        <div class="input-box">
                            <span class="details">Nome de usuário</span>
                            <input type="text" placeholder="Seu username" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Email</span>
                            <input type="email" placeholder="Seu email" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Senha</span>
                            <input type="password" placeholder="Sua senha" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Confirmar senha</span>
                            <input type="password" placeholder="Repita sua senha" required>
                        </div> 
                        <div class="button">
                            <input type="submit" value="Me cadastre!">
                        </div>
                    </div> 
                </form>
            </div>
        </div>
    </body>
</hmtl>